<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background: #f7f8f9">  
  <mat-card class="uk-width-1-4@m">

    <p>&nbsp;</p>
      <div class="uk-flex uk-flex-center">
          <h3 style="color:#4f4f4f"><b>LOGIN</b></h3>
      </div>
    <mat-card-content>
      <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="your email" [(ngModel)]="user.email">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password':'text'" placeholder="Your password" [(ngModel)]="user.password"  required>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off': 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <a routerLink="/forgot">Lupa password?</a>
    </mat-card-content>
    <mat-card-content>
        <div>
            <button mat-raised-button style="width: 100%;" color="primary" (click)="login(user)">login</button>
        </div>
    </mat-card-content>
    <hr>
    <div class="uk-flex uk-flex-center">
      <!-- <p style="color:#4f4f4f; opacity: 0.4;">-------------------------------------------------------------------------------------------------------------</p> -->
      <p style="color:#4f4f4f; opacity: 40;">tidak mempunyai akun?  </p><a routerLink="/register">&nbsp;Buat akun</a>
    </div>
  </mat-card>
</div>