<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background: #f7f8f9" > 
  <mat-card class="uk-width-1-4@m">

      <p>&nbsp;</p>
      <div class="uk-flex uk-flex-center">
        <h3 style="color:#4f4f4f"><b>REGISTER</b></h3>
      </div>
    <mat-card-content>

      <mat-form-field class="uk-width-1-1" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. email@domain.com" [(ngModel)]="user.email" >
        </mat-form-field>

        <mat-form-field class="uk-width-1-1" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password':'text'" placeholder="Your password" [(ngModel)]="user.password"  required>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off': 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
          <div>
            <button mat-raised-button style="width: 100%;" color="primary" (click)="register(user)" [disabled]="loading">{{loading ? 'TUNGGU..':'Register'}}</button>
          </div>
      </mat-card-content>
      <hr>
      <div class="uk-flex uk-flex-center">
        <p style="color:#4f4f4f; opacity: 40;">Sudah mempunyai akun?  </p><a routerLink="/login">&nbsp;Login</a>
      </div>
    </mat-card>
  </div>